<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CLIPS</title>
</head>
<body>
    <%- body %>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



        body{
            text-align: center;
            margin: 0;
            padding: 0;
        }

        *{
            transition: 0.5s;
            font-family: 'Patrick Hand', cursive;
        }



    </style>

</body>
</html>